*{
	font-family:cursive;
	
}
#up{
	background-image:url(upper.jpg);
	height: 200px;
	background-size:cover;
	display:flex;
	justify-content:space-evenly;
	align-content:center;
    color:black;	
}
#Q{
	height:150px;
}
#newHabit{
	width:200px;
	height:50px;
}
#start{
	width:70px;
	height:50px;
}
#List{
	background-color:#add8e6;
	font-size:15px;
}
#l{
	height:30px;
	display:flex;
	align-content:center;
	justify-content:space-evenly;
	
}
#Space{
	margin-left: 45px;
} 
li{
	margin-bottom: 30px;
}
